@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

$musa_green_login: #3c8aa3;
$white: #fff;
$musa_green_light_text: #a4aeb7;
$musa_grey: #bdbdbd;
$musa_green_headings: #4c5964;
$musa_background: #f0f2f4;
$musa_green_button_light_green: #51a1b4;
$musa_green_lighter_text: #7e8b95;
$musa_green_dark_text: #69747e;
$musa_green_error_red: #d45757;
$musa_green_warning_red: #e79244;
$musa_green_button_subdued_icon_text: #939fa9;
$musa_green_quite_dark_text: #6b7075;
$musa_green_card_dark_text_healthy: #5a7a8b;
$musa_green_card_title_healthy: #5990ae;
$musa_green_headings_2: #617281;
$musa_green_card_value_identifier_healthy: #87a2b1;
$musa_green_card_column: #eff3f4;

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background: $musa_green_light_text;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb {
  background: $musa_green_dark_text;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: $musa_green_dark_text;
}

@font-face {
  font-family: "Gotham Light";
  src: url("~@/assets/fonts/Gotham-Light.otf");
}
@font-face {
  font-family: "Gotham Medium";
  src: url("~@/assets/fonts/Gotham-Medium.otf");
}
@font-face {
  font-family: "Gotham Bold";
  src: url("~@/assets/fonts/Gotham-Book.otf");
}

$gotham-bold: "Gotham Bold", sans-serif;
$gotham-light: "Gotham Light", sans-serif;
$gotham-medium: "Gotham Medium", sans-serif;

.musa_green_dark_text {
  color: $musa_green_dark_text;
}
.musa_green_light_text {
  color: #386d7a !important;
}

body {
  font-family: "Inter", sans-serif;
  background: $musa_background;
  min-height: 100vh;
}

.w-50 {
  width: 50% !important;
}

.v-application {
  font-family: "Inter", sans-serif;
  .uuid {
    color: $musa_green_dark_text;
    font-weight: 400;
    span {
      font-weight: 600;
    }
  }
  a {
    text-decoration: none;
  }
  .close_dialog {
    color: $musa_green_button_subdued_icon_text;
    font-size: 20px;
  }
  .btnBgColor {
    box-shadow: none;
    border-radius: 100px;
    font-family: $gotham-medium;
    background-color: $musa_green_button_light_green !important;
    color: $white;
    border: 1px solid $musa_green_button_light_green;
    opacity: 1;
    &:hover::before {
      background: $musa_green_button_light_green;
      opacity: 1;
    }
    &::before {
      transition: unset;
    }
  }
  .btnTransBgColor {
    box-shadow: none;
    border-radius: 100px;
    font-family: $gotham-medium;
    background-color: transparent !important;
    color: $musa_green_button_light_green;
    border: 1px solid $musa_green_button_light_green;
    opacity: 1;
    &:hover::before {
      background: transparent;
      opacity: 1;
    }
    &::before {
      transition: unset;
    }
  }
}

.textfield_musa_outline {
  font-family: "Inter", sans-serif !important;
  .v-input__control {
    .v-input__slot {
      min-height: 33px;
      border: none !important;
      fieldset {
        border: 1px solid #c4d2de;
        border-radius: 4px;
      }
    }
    .error--text {
      .v-messages__message,
      .v-messages__wrapper {
        text-transform: none;
        color: $musa_green_error_red;
        caret-color: unset;
      }
    }
    .v-messages__message,
    .v-messages__wrapper {
      text-transform: none;
      color: $musa_green_lighter_text;
      caret-color: unset;
    }
  }
}

.w-50 {
  width: 50%;
}

.v-application--wrap {
  background: $musa_background;
}

.btn-transparent,
.btn-transparent:hover,
.btn-transparent:focus,
.btn-transparent:active,
.btn-transparent:before {
  background-color: transparent !important;
  box-shadow: none !important;
  border-color: transparent !important;
  text-transform: unset;
}

#login,
#forgot,
#reset {
  .jumbotron {
    max-height: 100vh;
    max-width: 100%;
    position: relative;
    height: 100vh;
    display: inline-block;
    width: 100%;
    text-align: center;
    img {
      object-fit: cover;
      object-position: center;
      height: 100vh;
      max-height: 100vh;
      width: 100%;
      display: block;
    }
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 35%;
      margin: 0 auto;
      .logo {
        margin: 0 auto;
      }
      .v-card {
        padding: 70px 24px 24px;
        border: 1px solid #dedede;
        border-radius: 5px;
        img {
          margin: 0 auto;
          display: block;
          width: 100%;
        }
        .v-input {
          width: 75%;
          margin: 0 auto;
          background: transparent;
          border: 1px solid #c4d2de;
        }
        .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)
          > .v-input__control
          > .v-input__slot {
          box-shadow: none;
        }
        .btn {
          background: $musa_green_login;
          color: $white;
        }
        .musa_green_light_text {
          color: $musa_green_light_text;
        }
        .musa_grey {
          color: $musa_grey;
        }
        .musa_green_login {
          color: $musa_green_login;
        }
        a {
          text-decoration: none;
        }
        .power-musa {
          object-fit: cover;
          object-position: center;
          display: inline-block;
          width: 30%;
          height: auto;
        }
      }
    }
  }
}

#forgot,
#reset {
  .jumbotron {
    .centered {
      .v-card {
        padding: 45px 45px 70px 45px;
        // min-height: 75vh;
        h1 {
          position: relative;
          &::after {
            content: "";
            width: 100%;
            bottom: -10px;
            // margin: 0.3em auto;
            display: block;
            height: 1px;
            background: #c4d2de;
            position: absolute;
          }
        }
        p {
          font-size: 14px;
          margin-top: 20px;
        }
        label {
          font-weight: 600;
          margin-bottom: 0.5em;
        }
        .v-input {
          width: 100%;
          margin: 0 auto;
          background: transparent;
          border: 1px solid #c4d2de;
          border-radius: 2px;
          margin-top: 0.5em;
          .v-input__control {
            min-height: unset;
          }
        }
        .position-bottom {
          min-height: 40vh;
        }
      }
    }
  }
}

#reset {
  .jumbotron {
    .centered {
      .v-card {
        padding: 45px;
        h1 {
          position: relative;
          &::after {
            content: "";
            width: 100%;
            bottom: -10px;
            display: block;
            height: 1px;
            background: #c4d2de;
            position: absolute;
          }
        }
        p {
          font-size: 14px;
          margin-top: 20px;
        }
        label {
          font-weight: 600;
          margin-bottom: 0.5em;
        }
        .v-input {
          width: 100%;
          margin: 0 auto;
          background: transparent;
          border: 1px solid #c4d2de;
          border-radius: 2px;
          margin-top: 0.5em;
          .v-input__control {
            min-height: unset;
          }
        }
      }
    }
  }
}

#header {
  .v-toolbar {
    background: linear-gradient(
        89.89deg,
        rgba(42, 100, 118, 0.84) 12.7%,
        rgba(11, 61, 82, 0.7812) 91.69%
      ),
      #ffffff;
  }
  .v-btn {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      height: 132%;
      width: 1px;
      background: $white;
    }
    &__content {
      text-transform: capitalize;
    }
    .v-icon {
      color: #dedede;
    }
  }
  .logo {
    width: 10%;
  }
}

.my-account {
  box-shadow: none;
  .v-divider {
    border-width: 0.5px;
    background: #dedede;
  }
  .v-card {
    border-radius: 24px;
    box-shadow: none;
    height: 90vh;
    .v-overlay--active {
      overflow: auto;
    }
    .menu-left {
      transform: translateX(0) !important;
      visibility: visible !important;
      background: #456577;
      &.v-navigation-drawer {
        top: unset !important;
        height: 100% !important;
        // border-top-left-radius: 24px;
        // border-top-right-radius: 0;
        border-radius: 24px 0 0 24px !important;
      }
      h5 {
        font-family: $gotham-light;
        font-size: 14px;
      }
      .v-list {
        &--nav {
          padding: 20px 22px;
        }
      }
      .link-route {
        text-decoration: none;
        color: $white;
        .v-list-item__title {
          font-family: $gotham-medium;
          font-size: 16px;
        }
        &.nuxt-link-exact-active {
          .v-list-item__content {
            padding: 12px 8px;
            background: $musa_green_button_light_green;
            border-radius: 2px;
            margin-top: 8px;
          }
        }
      }
      .v-list-item {
        padding: 0;
        &__title {
          font-family: $gotham-medium;
          font-size: 16px;
        }
        &.active {
          padding: 0 8px;
          background: $musa_green_button_light_green;
          border-radius: 2px;
          margin-top: 8px;
        }
      }
    }
    .menu-right {
      // &.grow {
      // padding: 20px 22px;
      padding: 0px 0px 0px 256px !important;
      .v-text-field.v-text-field--solo .v-input__control {
        min-height: 36px;
      }
      .v-divider {
        width: 85%;
      }
      .radius {
        .v-input__slot {
          border-radius: 100px;
        }
        span {
          color: $musa_green_button_subdued_icon_text;
        }
      }
      h3 {
        font-size: 36px;
        font-family: $gotham-light;
        color: $musa_green_headings;
      }
      h4 {
        font-size: 24px;
        font-family: $gotham-light;
        color: $musa_green_headings_2;
      }
      .v-input {
        font-family: $gotham-medium;
        text-transform: uppercase;
        &__slot {
          border: 1px solid #c4d2de;
          box-shadow: none;
          border-radius: 2px;
          i {
            color: $musa_green_button_subdued_icon_text !important;
          }
        }
        .v-text-field {
          &__slot {
            input {
              color: $musa_green_button_subdued_icon_text;
            }
            .v-label {
              color: $musa_green_button_subdued_icon_text;
            }
          }
        }
        .v-select {
          &__slot {
            .v-input__append-inner {
              display: none;
            }
            &--is-multi {
              border-radius: 100px;
            }
            .v-label {
              color: $musa_green_button_subdued_icon_text;
            }
          }
        }
      }
      table {
        th {
          color: $musa_green_dark_text;
          font-weight: 600;
          font-size: 14px;
        }
      }
      .v-chip {
        width: auto;
        height: 28px;
        font-size: 12px;
        &__content {
          margin: 0 auto;
        }
      }
      .left {
        p {
          color: $musa_green_lighter_text;
          font-size: 14px;
        }
      }
      .desc {
        color: $musa_green_lighter_text;
        font-size: 14px;
      }
      .title-texfield {
        color: $musa_green_dark_text;
        font-size: 14px;
        font-weight: 600;
      }
      .right {
        width: 70%;
        p {
          color: $musa_green_dark_text;
          font-size: 14px;
        }
      }
      // }
    }
  }
}

#menu {
  // background: #f0f2f4;
  a.nuxt-link-exact-active {
    .v-btn__content {
      color: #51a1b4;
    }
  }
  h1 {
    font-size: 36px;
    color: $musa_green_headings;
  }
  a {
    text-decoration: none;
  }
  .btn {
    background: $white;
    // color: $musa_green_button_light_green;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 100px;
    box-shadow: none !important;
    border-color: transparent !important;
    &:hover,
    &:focus,
    &:active,
    &::before {
      background: $white;
      color: $musa_green_button_light_green;
      box-shadow: none !important;
      border-color: transparent !important;
    }
  }
  .v-bottom-navigation .v-btn {
    height: 56px;
  }
}

.color_current_date--text {
  color: #69747e !important;
  caret-color: #69747e !important;
}

.date_single_range {
  .v-date-picker-table .v-btn.v-btn--active {
    background-color: #51a1b4 !important;
    border-color: #51a1b4 !important;
    color: $white !important;
  }
  .theme--light.v-date-picker-header
    .v-date-picker-header__value:not(.v-date-picker-header__value--disabled)
    button:not(:hover):not(:focus) {
    color: $musa_green_dark_text;
  }
  .theme--light.v-btn {
    color: $musa_green_dark_text;
  }
}

#content-one,
.device_health_dialog {
  background: #f0f2f4;
  .v-card {
    box-shadow: 0px 1px 4px 4px rgba(9, 52, 66, 0.05);
    border-radius: 10px;
  }
  .see_full {
    background: $musa_green_button_light_green;
    color: $white;
    border-radius: 100px;
    // float: right;
    margin-top: 3em;
    margin-left: auto;
    a {
      color: $white;
      text-decoration: none;
    }
  }
  .hover_card {
    .w-25 {
      &:hover {
        .d-not-hover {
          display: block;
        }
        .d-hover {
          display: none;
        }
        width: 40%;
        .card-left {
          height: auto;
          // height: 58vh;
          // height: 105vh;
          .title {
            font-size: 20px !important;
          }
          .subtitle,
          .text {
            font-size: 16px;
          }
        }
      }
    }
  }
  .w-25 {
    width: 20%;
    z-index: 9;
    // transition: all 0.3s ease-in-out;
    transition: 500ms ease;
    position: absolute;
  }
  .w-75 {
    width: 75%;
    margin-left: 25%;
  }
  .card-left {
    width: 100%;
    height: auto;
    transition: 500ms ease;
    .d-not-hover {
      display: none;
      transition: all 0.3s ease-in-out;
    }
    .d-hover {
      display: block;
      transition: all 0.3s ease-in-out;
    }
    .subtitle {
      font-size: 12px;
      color: $musa_green_lighter_text;
      transition: font-size 0.5s ease;
    }
    .title {
      font-size: 13px !important;
      transition: font-size 0.5s ease;
      font-weight: 600;
      color: $musa_green_dark_text;
      text-transform: capitalize;
    }
    .text {
      font-size: 12px;
      color: $musa_green_lighter_text;
      transition: font-size 0.5s ease;
    }
    .error {
      color: $musa_green_error_red;
      background-color: transparent !important;
      border-color: transparent !important;
    }
    .warning {
      color: $musa_green_warning_red;
      background-color: transparent !important;
      border-color: transparent !important;
    }
  }
  .card-right {
    width: 100%;
    .date_range {
      .v-text-field__slot {
        padding-left: 10px;
        // margin-left: 10px;
        border: 1px solid #c4d2de;
        label {
          left: 10px !important;
        }
        input {
          color: #a4aeb7;
          padding: 3px 0;
        }
      }
      .v-input__append-inner {
        border: 1px solid #c4d2de;
        border-left: none;
        background: #f0f3f5;
        padding-left: 0;
        .v-input__icon {
          // height: 32px;
          height: 26px;
        }
      }
    }
    .ph {
      // font-size: 30px;
      font-size: 26px;
      font-weight: 600;
      color: $musa_green_lighter_text;
    }
    .unit {
      // font-size: 40px;
      font-size: 30px;
      font-weight: 600;
      color: $musa_green_dark_text;
    }
    .subtitle {
      font-size: 14px;
      color: $musa_green_lighter_text;
      font-weight: 600;
    }
    .text {
      font-size: 16px;
      color: $musa_green_dark_text;
      font-weight: 600;
    }
  }
  .card-bottom {
    .title {
      font-size: 24px;
      color: $musa_green_lighter_text;
    }
    .unit,
    .desc {
      font-size: 14px;
      color: $musa_green_lighter_text;
    }
    .size {
      // font-size: 24px;
      font-size: 20px;
      font-weight: 600;
      color: $musa_green_dark_text;
    }
    &.red {
      background: linear-gradient(
        299.71deg,
        #f76a5b 29.01%,
        #f76a5b 29.02%,
        #e25647 77.13%
      );
      .title,
      .unit,
      .desc,
      .size {
        color: $white;
      }
    }
    &.yellow {
      background: linear-gradient(295.22deg, #ffd585 38.53%, #ffd66d 67.43%);
    }
  }
  .theme--light.v-text-field--solo > .v-input__control > .v-input__slot {
    background: transparent;
  }
  .v-input__slot {
    padding: 0;
    .v-select__slot {
      .v-label {
        margin-left: 12px;
        font-size: 14px;
      }
      .v-input__icon {
        height: 22px;
        width: 30px;
        min-width: 30px;
      }
      .v-select__selections {
        border: 1px solid #c4d2de;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        height: 24px;
        border-right: none;
        background: $white;
      }
      .v-input__append-inner {
        background: transparent;
        border: 1px solid #cddade;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
      .v-icon {
        color: $musa_green_button_subdued_icon_text;
      }
    }
  }
  .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)
    > .v-input__control
    > .v-input__slot {
    box-shadow: none;
  }
  .theme--light.v-label {
    color: $musa_green_light_text;
  }
}

#log {
  background: #f0f2f4;
  .date_range {
    .v-input__control {
      min-height: auto;
    }
    .v-text-field__slot {
      padding-left: 10px;
      background: $white;
      // margin-left: 10px;
      border: 1px solid #c4d2de;
      label {
        left: 10px !important;
      }
      input {
        color: #a4aeb7;
      }
    }
    .v-input__append-inner {
      border: 1px solid #c4d2de;
      border-left: none;
      background: #f0f3f5;
      padding-left: 0;
      .v-input__icon {
        height: 32px;
      }
    }
  }
  .v-card {
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14),
      0px 3px 14px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    padding: 23px 33px;
    table {
      width: 100%;
      th {
        font-size: 16px;
        color: $musa_green_dark_text;
        font-weight: 600;
        width: 25%;
        // height: 48px;
        text-align: left;
        padding-left: 0;
      }
      td {
        font-weight: 400;
        font-size: 12px;
        width: 25%;
        height: 48px;
        padding: 16px 0;
        .v-chip .v-chip__content {
          font-size: 12px;
        }
      }
    }
    .v-data-table {
      .v-data-footer {
        .v-select__selections {
          height: 24px;
          border-bottom-left-radius: 0;
        }
        .v-input__icon {
          height: 22px;
        }
        .v-input__append-inner {
          padding-left: 0;
          border-bottom-right-radius: 0;
          margin-top: 0;
        }
      }
    }
  }
  .theme--light.v-text-field--solo > .v-input__control > .v-input__slot {
    background: transparent;
  }
  .v-input__slot {
    padding: 0;
    .v-select__slot {
      .v-label {
        margin-left: 12px;
        font-size: 14px;
      }
      .v-input__icon {
        height: 22px;
        width: 30px;
        min-width: 30px;
      }
      .v-select__selections {
        border: 1px solid #c4d2de;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        height: 24px;
        border-right: none;
        background: $white;
      }
      .v-input__append-inner {
        background: #f0f3f5;
        border: 1px solid #cddade;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
      .v-icon {
        color: $musa_green_button_subdued_icon_text;
      }
    }
  }
  .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)
    > .v-input__control
    > .v-input__slot {
    box-shadow: none;
  }
  .theme--light.v-label {
    color: $musa_green_light_text;
  }
}

#user_management,
#config_common_setup,
#device_list,
#unit_list {
  background: #f0f2f4;
  min-height: 100vh;
  .v-divider {
    border-width: 0.5px;
    background: #dedede;
  }
  .v-card {
    border-radius: 24px;
    box-shadow: none;
    height: 100%;
    min-height: 63vh;
    .v-overlay--active {
      overflow: auto;
    }
    .menu-left {
      background: #456577;
      &.v-navigation-drawer {
        top: unset !important;
        height: 100% !important;
        // border-top-left-radius: 24px;
        // border-top-right-radius: 0;
        border-radius: 24px 0 0 24px;
      }
      h5 {
        font-family: $gotham-light;
        font-size: 14px;
      }
      .v-list {
        &--nav {
          padding: 20px 22px;
        }
      }
      .link-route {
        text-decoration: none;
        color: $white;
        .v-list-item__title {
          font-family: $gotham-medium;
          font-size: 16px;
        }
        &.nuxt-link-exact-active {
          .v-list-item__content {
            padding: 12px 8px;
            background: $musa_green_button_light_green;
            border-radius: 2px;
            margin-top: 8px;
          }
        }
      }
      .v-list-item {
        padding: 0;
        &__title {
          font-family: $gotham-medium;
          font-size: 16px;
        }
        &.active {
          padding: 0 8px;
          background: $musa_green_button_light_green;
          border-radius: 2px;
          margin-top: 8px;
        }
      }
    }
    .menu-right {
      // &.grow {
      padding: 20px 22px;
      .v-text-field.v-text-field--solo .v-input__control {
        min-height: 36px;
      }
      .radius {
        .v-input__slot {
          border-radius: 100px;
        }
        span {
          color: $musa_green_button_subdued_icon_text;
        }
      }
      h3 {
        font-size: 36px;
        font-family: $gotham-light;
        color: $musa_green_headings;
      }
      .v-input {
        font-family: $gotham-medium;
        text-transform: uppercase;
        &__slot {
          border: 1px solid #c4d2de;
          box-shadow: none;
          border-radius: 2px;
          i {
            color: $musa_green_button_subdued_icon_text !important;
          }
        }
        .v-text-field {
          &__slot {
            input {
              color: $musa_green_button_subdued_icon_text;
            }
            .v-label {
              color: $musa_green_button_subdued_icon_text;
            }
          }
        }
        .v-select {
          &__slot {
            .v-input__append-inner {
              display: none;
            }
            &--is-multi {
              border-radius: 100px;
            }
            .v-label {
              color: $musa_green_button_subdued_icon_text;
            }
          }
        }
      }
      // .v-btn {
      //   border: 1px solid #51a1b4;
      //   background: $white;
      //   box-shadow: none;
      //   color: #51a1b4;
      //   border-radius: 100px;
      //   font-family: $gotham-medium;
      //   &:hover::before {
      //     background: $white;
      //     opacity: 1;
      //   }
      // }
      table {
        th {
          color: $musa_green_dark_text;
          font-weight: 600;
          font-size: 14px;
        }
      }
      .v-chip {
        width: 100%;
        height: 28px;
        font-size: 12px;
        &__content {
          margin: 0 auto;
        }
      }
      // }
    }
  }
  .notify {
    cursor: pointer;
  }
}

#unit_list {
  .v-card {
    border-radius: 24px;
    box-shadow: none;
    height: 100%;
    min-height: unset;
  }
  .custom-scroll {
    height: 50vh;
    overflow-y: auto;
    max-width: 99%;
    &::-webkit-scrollbar {
      width: 7px;
    }
    &::-webkit-scrollbar-track {
      background: $musa_green_light_text;
      border-radius: 100px;
    }
    &::-webkit-scrollbar-thumb {
      background: $musa_green_dark_text;
      border-radius: 100px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: $musa_green_dark_text;
    }
  }
  .v-card {
    .menu-right {
      h3 {
        font-size: 36px;
        font-family: $gotham-medium;
        color: $musa_green_headings;
      }
      .desc {
        font-size: 12px;
        color: $musa_green_lighter_text;
      }
    }
  }
  .title_head {
    color: $musa_green_headings_2;
    font-size: 14px;
    font-weight: 600;
  }
  .list_unit_detail {
    font-family: "Inter", sans-serif;
    background: linear-gradient(107.92deg, #fdfdfd 8.54%, #f7f9fb 130.61%);
    box-shadow: 0px 1px 4px 4px rgba(50, 50, 50, 0.05);
    border-radius: 10px;
    padding: 14px;
    .title-card {
      font-size: 24px;
      font-weight: 600;
      color: $musa_green_card_dark_text_healthy;
    }
    .desc_unit {
      font-size: 12px;
      color: $musa_green_lighter_text;
      font-style: italic;
    }
    .attach_device {
      background: $musa_green_card_column;
      border-radius: 10px;
      padding: 12px;
      .btnBgColor {
        text-align: center;
        width: 100%;
        text-transform: unset;
        font-size: 12px;
        user-select: none;
        padding-top: 2px;
        padding-bottom: 2px;
      }
    }
    .attach,
    .loc {
      font-size: 12px;
      color: $musa_green_card_value_identifier_healthy;
    }
    .more {
      font-size: 11px;
      color: $musa_green_card_dark_text_healthy;
      cursor: pointer;
    }
    .site {
      font-size: 13px;
      color: $musa_green_card_dark_text_healthy;
      font-weight: 600;
    }
  }
}

#device_list {
  .v-card {
    border-radius: 24px;
    box-shadow: none;
    height: 100%;
    min-height: unset;
  }
  .custom-scroll {
    height: 50vh;
    overflow-y: auto;
    max-width: 99%;
    &::-webkit-scrollbar {
      width: 7px;
    }
    &::-webkit-scrollbar-track {
      background: $musa_green_light_text;
      border-radius: 100px;
    }
    &::-webkit-scrollbar-thumb {
      background: $musa_green_dark_text;
      border-radius: 100px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: $musa_green_dark_text;
    }
  }
  .v-card {
    .menu-right {
      h3 {
        font-size: 36px;
        font-family: $gotham-medium;
        color: $musa_green_headings;
      }
      .desc {
        font-size: 12px;
        color: $musa_green_lighter_text;
      }
    }
  }
  .title_head {
    color: $musa_green_headings_2;
    font-size: 14px;
    font-weight: 600;
  }
  .list_unit_detail {
    font-family: "Inter", sans-serif;
    background: linear-gradient(107.92deg, #fdfdfd 8.54%, #f7f9fb 130.61%);
    box-shadow: 0px 1px 4px 4px rgba(50, 50, 50, 0.05);
    border-radius: 10px;
    padding: 14px;
    .title-card {
      font-size: 12px;
      font-weight: 600;
      color: $musa_green_card_dark_text_healthy;
    }
    .size {
      color: $musa_green_card_title_healthy;
      font-size: 30px;
      font-weight: 500;
      &:hover {
        cursor: pointer;
      }
    }
    .left {
      p {
        font-size: 12px;
        color: $musa_green_card_value_identifier_healthy;
        font-weight: 500;
      }
    }
    .right {
      // width: 80%;
      p {
        font-size: 12px;
        color: $musa_green_card_dark_text_healthy;
        font-weight: 600;
      }
    }
  }
}
#config_common_setup {
  .v-card {
    min-height: 63vh;
  }
  .menu-right {
    padding: 20px 22px;
    .v-text-field.v-text-field--solo .v-input__control {
      min-height: 36px;
    }
    .theme--light.v-text-field > .v-input__control > .v-input__slot:before {
      border: none;
    }
    .radius {
      .v-input__slot {
        border-radius: 100px;
      }
      span {
        color: $musa_green_button_subdued_icon_text;
      }
    }
    h3 {
      font-size: 36px;
      font-family: $gotham-light;
      color: $musa_green_headings;
    }
    .v-input {
      font-family: $gotham-medium;
      text-transform: uppercase;
      &__slot {
        border: 1px solid #c4d2de;
        box-shadow: none;
        border-radius: 2px;
        i {
          color: $musa_green_button_subdued_icon_text !important;
        }
      }
      .v-text-field {
        &__slot {
          input {
            color: $musa_green_button_subdued_icon_text;
          }
          .v-label {
            color: $musa_green_button_subdued_icon_text;
          }
        }
      }
      .v-select {
        &__slot {
          .v-input__append-inner {
            display: unset !important;
            background: #f5f5f5;
            margin-top: 0;
            padding: 0;
          }
          .v-input__icon {
            min-height: 36px;
            border: 1px solid #c4d2de;
            border-left: none;
          }
          &--is-multi {
            border-radius: 100px;
          }
          .v-label {
            color: $musa_green_button_subdued_icon_text;
          }
        }
      }
    }
    .v-btn {
      border: 1px solid #51a1b4;
      background: $white;
      box-shadow: none;
      color: #51a1b4;
      border-radius: 100px;
      font-family: $gotham-medium;
      &:hover::before {
        background: $white;
        opacity: 1;
      }
    }
    .save {
      background: #51a1b4;
      color: $white;
      &:hover::before {
        background: #51a1b4;
        color: $white;
      }
    }
    table {
      th {
        color: $musa_green_dark_text;
        font-weight: 600;
        font-size: 14px;
      }
    }
    .v-chip {
      width: auto !important;
      height: 20px !important;
      font-size: 12px;
      border-radius: 2px;
      background: $musa_green_button_light_green;
      color: $white;
      &__content {
        margin: 0 auto;
      }
    }
    .btnSaveCancel {
      margin-left: 70%;
    }
  }
  .v-input--is-readonly {
    .v-input__slot {
      background: #e9ecef;
    }
  }
  .common_device {
    padding-top: 0;
    margin-top: 0;
    .v-select__selections {
      border: 1px solid #c4d2de;
      min-height: 36px;
    }
    .v-input__slot {
      border: none !important;
    }
    label {
      text-transform: capitalize;
    }
    input {
      padding-left: 12px;
    }
  }
  .title {
    font-size: 14px;
    color: $musa_green_lighter_text;
  }
}
.v-dialog {
  &.device_health_dialog {
    border-radius: 24px;
    border: none;
    height: 90%;
    .v-speed-dial {
      .v-btn {
        background: $musa_green_dark_text;
        &--active {
          background: $musa_green_lighter_text;
        }
      }
      &__list {
        .v-btn {
          background: $musa_green_dark_text;
        }
      }
    }
    #btnFloating .v-speed-dial {
      position: absolute;
    }

    #btnFloating .v-btn--floating {
      position: relative;
    }
    .v-card {
      height: auto;
      min-height: 100vh;
    }
    h1 {
      font-size: 36px;
      color: $musa_green_headings;
      span {
        color: $musa_green_card_title_healthy;
      }
    }
    ul {
      list-style: none;
      li {
        display: inline-block;
      }
    }
    .v-text-field__slot {
      border-right: none;
      input {
        padding-left: 8px;
        color: #939fa9;
      }
    }
    .v-text-field__slot,
    .v-input__append-inner {
      border: 2px solid #c4d2de;
      border-radius: 2px;
    }
    .v-input__append-inner {
      padding-left: 0;
      background: #f5f5f5;
    }
    .v-input__icon--append {
      height: 32px;
    }
    .desc {
      .left {
        width: 50%;
        p {
          font-weight: 500;
          font-size: 11px;
          color: $musa_green_lighter_text;
          margin-bottom: 0;
        }
      }
      .right {
        width: 50%;
        p {
          font-weight: 600;
          font-size: 11px;
          color: $musa_green_dark_text;
          margin-bottom: 0;
        }
      }
    }
    h4 {
      font-weight: 500;
      font-size: 16px;
      color: #333;
    }
    .date_range {
      .v-input__control {
        min-height: 36px;
        .v-input__slot {
          padding: 0;
        }
      }
    }
    .v-input__slot {
      .v-select__slot {
        .v-select__selections {
          border: none;
        }
        .v-label {
          margin-left: 0;
        }
      }
    }
    .form_edit_select {
      // margin-top: 0.5em;
      &.single_date {
        fieldset {
          border: none;
        }
        .v-input__slot {
          min-height: 36px;
          padding-right: 0;
          input {
            color: rgba($color: #000000, $alpha: 0.4);
          }
          .v-input__append-inner {
            margin-top: unset;
            .v-input__icon--append {
              background: #f5f5f5;
              height: 34px;
              width: 30px;
              min-width: 30px;
              border: 1px solid #cddade;
              border-top-right-radius: 2px;
              border-bottom-right-radius: 2px;
            }
          }
        }
      }
      .v-input {
        &__control {
          min-height: 36px;
        }
        &__slot {
          padding-right: 0 !important;
          border: 1px solid #c4d2de;
          border-radius: 2px;
          box-shadow: none !important;
          input {
            color: $musa_green_quite_dark_text;
          }
          .v-select {
            .v-text-field {
              padding-right: 0;
            }
            &__slot {
              .v-label {
                // margin-left: 12px;
                font-size: 14px;
              }
              .v-input__icon {
                height: 36px;
                width: 30px;
                min-width: 30px;
              }
              .v-select__selections {
                // border: 1px solid #c4d2de;
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
                border-right: none;
                background: $white;
              }
              .v-input__append-inner {
                background: #f5f5f5;
                border: 1px solid #cddade;
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
              }
              .v-icon {
                color: $musa_green_button_subdued_icon_text;
              }
            }
          }
        }
      }
    }
    .theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active),
    .theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) > .v-icon,
    .theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) > .v-btn,
    .theme--light.v-tabs > .v-tabs-bar .v-tab--disabled {
      color: $musa_green_button_light_green;
    }
    .v-tabs-slider-wrapper {
      display: none;
    }
    .v-data-table__wrapper {
      // margin-top: 0.5em;
      th,
      td {
        height: 32px;
      }
    }
    .v-tabs-bar__content {
      height: 32px;
      border: solid $musa_green_button_light_green;
      border-radius: 5px;
      .v-tab {
        text-transform: capitalize;
        &--active {
          color: $white;
          background: $musa_green_button_light_green;
        }
      }
    }
  }
  &.edit_user_dialog {
    border-radius: 24px;
    border: none;
    .title_field {
      font-weight: 600;
    }
    .title_head_newDevice {
      font-size: 18px;
      font-weight: 600;
      color: $musa_green_headings_2;
    }
    .theme--light.v-label {
      color: rgba($color: #000000, $alpha: 0.4);
    }
    // .v-btn {
    //   background: #456577;
    //   color: $white;
    // }
    .v-card__title {
      background: #456577;
      color: $white;
    }
    .form_edit,
    .form_edit_select {
      // margin-top: 0.5em;
      &.single_date {
        fieldset {
          border: none;
        }
        .v-input__slot {
          min-height: 36px;
          padding-right: 0;
          input {
            color: rgba($color: #000000, $alpha: 0.4);
          }
          .v-input__append-inner {
            margin-top: unset;
            .v-input__icon--append {
              background: #f5f5f5;
              height: 34px;
              width: 30px;
              min-width: 30px;
              border: 1px solid #cddade;
              border-top-right-radius: 2px;
              border-bottom-right-radius: 2px;
            }
          }
        }
      }
      .v-input {
        &__control {
          min-height: 36px;
        }
        &__slot {
          border: 1px solid #c4d2de;
          border-radius: 2px;
          box-shadow: none !important;
          input {
            color: $musa_green_quite_dark_text;
          }
          .v-select {
            .v-text-field {
              padding-right: 0;
            }
            &__slot {
              .v-label {
                // margin-left: 12px;
                font-size: 14px;
              }
              .v-input__icon {
                height: 36px;
                width: 30px;
                min-width: 30px;
              }
              .v-select__selections {
                // border: 1px solid #c4d2de;
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
                border-right: none;
                background: $white;
              }
              .v-input__append-inner {
                background: #f5f5f5;
                border: 1px solid #cddade;
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
              }
              .v-icon {
                color: $musa_green_button_subdued_icon_text;
              }
            }
          }
        }
      }
    }
    .form_edit_select {
      .v-input {
        &__slot {
          padding-right: 0 !important;
        }
      }
    }
  }
  &.delete_user_dialog {
    border-radius: 24px;
    border: none;
    .v-btn {
      background: $musa_green_error_red;
      color: $white;
      width: 90%;
      border: 2px solid $musa_green_error_red;
      border-radius: 100px;
      margin: 0 auto;
    }
    .cancel_delete {
      color: $musa_green_error_red;
      border: 2px solid $musa_green_error_red;
      background: $white;
    }
    .v-card {
      .v-card__text {
        padding: 20px 24px;
        color: $musa_green_dark_text;
      }
    }
    .v-card__title {
      background: $musa_green_error_red;
      color: $white;
    }
  }
  &.roles_description {
    border-radius: 24px;
    border: none;
    .v-card {
      box-shadow: none;
      .v-card__title {
        background: #456577;
        color: $white;
      }
    }
    // .card-img {
    //   width: 100px;
    //   height: 100px;
    //   border-radius: 24px;
    //   box-shadow: 0px 1px 4px 4px rgba(50, 50, 50, 0.05);
    //   margin: 0 auto;
    //   img {
    //     margin: auto;
    //     display: block;
    //     width: 100%;
    //     height: 100%;
    //     object-fit: scale-down;
    //     object-position: center;
    //   }
    // }
    .card-img {
      margin: 0 auto;
      display: block;
    }
    .btn__viewer,
    .btn__editor,
    .btn__admin {
      color: $white;
      border-radius: 100px;
      width: 75%;
      display: block;
      margin: 0 auto;
      background-color: #71c7dc !important;
      text-transform: capitalize;
      font-weight: 400;
      height: 32px;
    }
    .v-card__text {
      width: 75%;
      margin: 0 auto;
      padding-right: 0;
      padding-left: 0;
    }
    .btn__editor {
      background-color: #4593bf !important;
    }
    .btn__admin {
      background-color: #386d7a !important;
    }
  }
  &.see_more_unit_list {
    border-radius: 10px;
    overflow-x: hidden;
    .title_attach {
      font-size: 24px;
      font-family: $gotham-medium;
      color: $musa_green_headings;
      .text_active {
        color: $musa_green_card_title_healthy;
      }
    }
    p {
      font-size: 18px;
      font-weight: 600;
      color: $musa_green_headings_2;
    }
    .btnBgColor {
      text-transform: unset;
      padding-top: 2px;
      padding-bottom: 2px;
      font-size: 12px;
      text-align: center;
    }
  }
}

@media (max-width: 600px) {
  #login .jumbotron .centered,
  #forgot .jumbotron .centered,
  #reset .jumbotron .centered {
    width: 90%;
  }
  #user_management .v-card .menu-right h3,
  #device_list .v-card .menu-right h3,
  #unit_list .v-card .menu-right h3,
  #config_common_setup .v-card .menu-right h3 {
    font-size: 26px;
  }
  #header .logo {
    width: 30%;
  }
  #content-one .w-75 {
    width: 100%;
    margin-left: unset;
  }
  #content-one .w-25 {
    width: 100%;
    position: relative;
  }
  #content-one .hover_card .w-25:hover {
    width: 100%;
  }
  // #content-one .hover_card .w-25:hover .card-left {
  //   height: 68vh;
  // }
}
@media (min-width: 601px) and (max-width: 992px) {
  #login .jumbotron .centered,
  #forgot .jumbotron .centered,
  #reset .jumbotron .centered {
    width: 70%;
  }
  #header .logo {
    width: 20%;
  }
  #content-one .w-75 {
    width: 100%;
    margin-left: 0;
  }
  #content-one .w-25 {
    width: 100%;
    position: relative;
  }
  #content-one .hover_card .w-25:hover {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .v-dialog.device_health_dialog {
    width: 100% !important;
    h1 {
      font-size: 20px;
    }
    .datasheet {
      font-size: 12px;
      text-transform: capitalize;
    }
    .v-slide-group__prev--disabled {
      display: none !important;
    }
  }
}
@media (min-width: 960px) {
  #user_management .v-card .menu-right,
  #config_common_setup .v-card .menu-right,
  #device_list .v-card .menu-right,
  #unit_list .v-card .menu-right {
    padding: 0px 0px 0px 256px !important;
  }
}
@media (max-width: 959px) {
  #user_management .container--fluid,
  #device_list .container--fluid,
  #unit_list .container--fluid,
  #config_common_setup .container--fluid {
    margin-top: 2em;
    margin-bottom: 5em;
  }
  #content-one {
    margin-bottom: 5em;
  }
  #content-one .hover_card {
    margin-top: 1em;
  }
  #log .container {
    margin-bottom: 5em;
  }
  #log .v-card table th {
    width: 50%;
    text-align: center;
  }
  #log .v-card table td {
    width: 50%;
  }
  #log .v-data-footer__pagination {
    margin: 0 10px;
  }
  #config_common_setup .menu-right .btnSaveCancel {
    margin-left: 0;
  }
}
@media (min-width: 1537px) {
  #content-one .w-25 {
    width: 17%;
  }
  #content-one .hover_card .w-25:hover {
    width: 30%;
  }
  #content-one .w-75 .card-right {
    max-height: 65vh;
    overflow: hidden;
    overflow-y: auto;
  }
  #content-one .card-left {
    width: 100%;
    height: 65vh;
    transition: 500ms ease;
  }
}
@media (min-width: 1260px) and (max-width: 1536px) {
  #content-one .w-75 .card-right {
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
  }
}
// @media (min-width: 1260px) {
//   #content-one .w-75 .card-right {
//     max-height: 33vh;
//     overflow: hidden;
//     overflow-y: auto;
//   }
// }
