$musa_green_dark_text: #3c8aa3;
$white: #fff;
$musa_green_light_text: #a4aeb7;
$musa_grey: #bdbdbd;

body {
  font-family: "Inter", sans-serif;
}

.pb-0 {
  padding-bottom: 0 !important;
}

#login,
#forgot,
#reset {
  .jumbotron {
    max-height: 100vh;
    max-width: 100%;
    position: relative;
    height: 100vh;
    display: inline-block;
    width: 100%;
    text-align: center;
    img {
      object-fit: cover;
      object-position: center;
      height: 100vh;
      max-height: 100vh;
      width: 100%;
      display: block;
    }
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 35%;
      margin: 0 auto;
      .logo {
        margin: 0 auto;
      }
      .v-card {
        padding: 70px 24px 24px;
        border: 1px solid #dedede;
        border-radius: 5px;
        img {
          margin: 0 auto;
          display: block;
          width: 100%;
        }
        .v-input {
          width: 75%;
          margin: 0 auto;
          background: transparent;
          border: 1px solid #c4d2de;
        }
        .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)
          > .v-input__control
          > .v-input__slot {
          box-shadow: none;
        }
        .btn {
          background: $musa_green_dark_text;
          color: $white;
        }
        .musa_green_light_text {
          color: $musa_green_light_text;
        }
        .musa_grey {
          color: $musa_grey;
        }
        .musa_green_dark_text {
          color: $musa_green_dark_text;
        }
        a {
          text-decoration: none;
        }
        .power-musa {
          object-fit: cover;
          object-position: center;
          display: inline-block;
          width: 30%;
          height: auto;
        }
      }
    }
  }
}

#forgot,
#reset {
  .jumbotron {
    .centered {
      .v-card {
        padding: 45px 45px 70px 45px;
        // min-height: 75vh;
        h1 {
          position: relative;
          &::after {
            content: "";
            width: 100%;
            bottom: -10px;
            // margin: 0.3em auto;
            display: block;
            height: 1px;
            background: #c4d2de;
            position: absolute;
          }
        }
        p {
          font-size: 14px;
          margin-top: 20px;
        }
        label {
          font-weight: 600;
          margin-bottom: 0.5em;
        }
        .v-input {
          width: 100%;
          margin: 0 auto;
          background: transparent;
          border: 1px solid #c4d2de;
          border-radius: 2px;
          margin-top: 0.5em;
          .v-input__control {
            min-height: unset;
          }
        }
        .position-bottom {
          min-height: 40vh;
        }
      }
    }
  }
}

#reset {
  .jumbotron {
    .centered {
      .v-card {
        padding: 45px;
        h1 {
          position: relative;
          &::after {
            content: "";
            width: 100%;
            bottom: -10px;
            display: block;
            height: 1px;
            background: #c4d2de;
            position: absolute;
          }
        }
        p {
          font-size: 14px;
          margin-top: 20px;
        }
        label {
          font-weight: 600;
          margin-bottom: 0.5em;
        }
        .v-input {
          width: 100%;
          margin: 0 auto;
          background: transparent;
          border: 1px solid #c4d2de;
          border-radius: 2px;
          margin-top: 0.5em;
          .v-input__control {
            min-height: unset;
          }
        }
      }
    }
  }
}

#header {
  .v-toolbar {
    background: linear-gradient(
        89.89deg,
        rgba(42, 100, 118, 0.84) 12.7%,
        rgba(11, 61, 82, 0.7812) 91.69%
      ),
      #ffffff;
  }
  .logo {
    width: 10%;
  }
}
